Source: bntrainer
Section: python
Priority: optional
Maintainer: James Chien <shchien@dt42.io>
Build-Depends: debhelper (>= 9.0.0), python3 (>= 3.4), python3-setuptools (>= 3.0)
Standards-Version: 3.9.6
Homepage: http://dt42.io

Package: bntrainer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-berrynet, dt42lab, trainer, python3-numpy
Description: Make trainer pipeline as BerryNet service.
