#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export http_proxy=
export https_proxy=

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
