# Byte-compiled / optimized / DLL files
__pycache__
*.pyc

# Distribution / packaging
build
dist
*.egg-info

# Environments
env
venv
.vscode

# Others
*.swp

# node packages
node_modules

# pytest-coverage
.coverage

# mypy
.mypy_cache/
