[Unit]
Description=MQTT client to get snapshot from Pi camera or IP camera.
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/berrynet
PIDFile=/tmp/camera.pid
ExecStart=/usr/bin/node camera.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
