[Unit]
Description=Clean snapshots every 5 min
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/berrynet
PIDFile=/tmp/cleaner.pid
ExecStart=/bin/bash cleaner.sh

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
