[Unit]
Description=MQTT client agent for DL inference data collection.
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/berrynet
PIDFile=/tmp/data_collector.pid
ExecStart=/usr/bin/node data_collector.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
