[Unit]
Description=movidius detection server
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/berrynet/inference
PIDFile=/tmp/detect_movidius_server.pid
ExecStart=/usr/bin/python detect_movidius_server.py \
    --model=/var/lib/dlmodels/tinyyolo-movidius-1/graph \
    --label=/var/lib/dlmodels/tinyyolo-movidius-1/assets/labels.txt \
    --image_dir=/usr/local/berrynet/inference/image
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
