[Unit]
Description=detection server
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/berrynet/inference/darknet
PIDFile=/tmp/detection_server.pid
ExecStart=/bin/bash utils/localrun.sh /var/ramfs
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
