[Unit]
Description=detection server
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/rpi3-ai-gateway/inference/darkflow
PIDFile=/tmp/detection_server.pid
ExecStart=/usr/bin/python detection_server.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
