[Unit]
Description=MQTT client agent for logging.
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/berrynet
PIDFile=/tmp/journal.pid
ExecStart=/usr/bin/node journal.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
