[Unit]
Description=LINE client agent for notification
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/berrynet
PIDFile=/tmp/line.pid
ExecStart=/usr/bin/node line.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
