[Unit]
Description=MQTT client to detect local image event
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/rpi3-ai-gateway
PIDFile=/tmp/localimg.pid
ExecStart=/usr/bin/node localimg.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
