#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export PYBUILD_NAME=berrynet

%:
	dh $@ --with python3,apache2 --buildsystem=pybuild


override_dh_auto_build:
	# dashboard
	mkdir -p $(CURDIR)/dashboard
	cp -f /usr/share/freeboard/index.html $(CURDIR)/dashboard
	cd $(CURDIR)/dashboard; patch -p 3 < ../patch/ui-dt42-theme.patch; cd $(CURDIR)
	sed -i 's@// [*][*][*] Load more plugins here [*][*][*]@"plugins/thirdparty/paho.mqtt.plugin.js", // *** Load more plugins here ***@g'  $(CURDIR)/dashboard/index.html

	dh_auto_build

override_dh_auto_test:
	# don't run test. failed now.

override_dh_auto_clean:
	dh_auto_clean
	rm -rf www dashboard
	rm -rf .eggs berrynet.egg-info
